body{
    font-family: 'Montserrat', sans-serif;
    background-color: white !important;
}
.home{
    width: 1365px;
    height: 500px;
    display: flex;
}
.pic{
    width: 680px;
    height: 500px;
    margin-left: 100px;
}
.mynav{
    background-color: white;
    border: none !important;

}
.nav-link{
    color: rgb(29, 28, 28) !important;
    background-color: none !important;
    border: none !important;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: capitalize;
    font-weight: 600;
}

.my-home-container{
    /* background-color: #000; */
}

.my-home-img{
    height: 300px;
    width: 500px;
    margin-top: 75px;
    
}
.hometext{
    font-weight: 600;
    color: #f3c204;
    margin-top: 120px;
}
.homehead{
    color:rgb(19, 18, 18);
    font-weight: 700;
}
.homeicontext{
    font-weight: 600;
    color:rgb(19, 18, 18);

}
.homeicon{
    font-size: 60px;
    color: #f3c204;

}

.myhomecard{
    border: none;
    box-shadow: 0px 15px 30px rgb(199, 195, 195);
    transition-duration: 5s;
    -webkit-transition: all 1s ease; 
            -moz-transition: all 1s ease; 
            -o-transition: all 1s ease; 
            -ms-transition: all 1s ease; 
            transition: all 1s ease;
}
.myhomecard:hover{
    transform: scale(1.5); 

}
.btn{
    color:rgb(19, 18, 18);
    font-weight: 600;
    
}
.textarea{
    font-weight: 600;
    margin-left: 430px;
    color:rgb(19, 18, 18);
    margin-top: 50px;
}
.myhometext{
    margin-left: 200px;
}
.myhomecardssss{
    box-shadow: 0px 15px 30px rgb(199, 195, 195);
    background-color: #f3c204;
    margin-top: 30px;
    transition-duration: 5s;
    -webkit-transition: all 1s ease; 
            -moz-transition: all 1s ease; 
            -o-transition: all 1s ease; 
            -ms-transition: all 1s ease; 
            transition: all 1s ease;
}
.myhomecardssss:hover{
    transform: scale(1.5); 

}
.homeiconn{
    font-size: 60px;
    color:rgb(19, 18, 18);
    
}
.homeicontextt{
    color:rgb(19, 18, 18);
    font-weight: 600;
    
}
.car{
    height: 200px;
    width: 1360px;
    margin-top: 100px;
}
.left{
    position: absolute;
  bottom: 50px;
  left: 50px;
  font-weight: 600;
  color: white;
  font-size: 50px;
}
.mycon{
    position: relative;
    text-align: center;
    color: white;
}
.cardcon{
    border: none;
}
.context{
    color:rgb(19, 18, 18);
    font-weight: 600;
    font-size: 36px;
}
.homeiconsss{
    font-size: 120px;
    color: #f3c204;
    transition-duration: 5s;
    -webkit-transition: all 1s ease; 
            -moz-transition: all 1s ease; 
            -o-transition: all 1s ease; 
            -ms-transition: all 1s ease; 
            transition: all 1s ease;
}
.textareaaa{
    font-weight: 600;
    margin-left: 500px;
    color:rgb(19, 18, 18);
    margin-top: 50px;
}
.homeiconsss:hover{
    transform: scale(1.5); 
}
.text{
    font-weight: 600;
    color:rgb(19, 18, 18);
    margin-left: 400px;
}
.text1{
    font-weight: 600;
    color:rgb(19, 18, 18);
    margin-left: 220px;
}
.im{
    height: 200px;
    width: 1360px;
    margin-top: 100px;
}
.textttt{
    margin-right: 300px;
}
.pp{
    color: #000;
    margin-left: 80px;
}